.weather-icon {
  width: 40%;
  height: 40%;
  margin: 10px;
  margin-left: 50px;
  border: 1px solid black;
  border-radius: 100px;
  box-shadow: 0px 0px 10px 3px #0062ff;
}


.search-input {
  border: 1px solid #92B4EC;
  font-size: 1.3rem;
  text-align: center;
}

.search-button {
  font-size: 1.2rem;
}

.cards {
  box-shadow: 4px 3px 20px 3px #92B4EC;
  -webkit-box-shadow: 4px 3px 20px 3px #92B4EC;
  -moz-box-shadow: 4px 3px 20px 3px #92B4EC;
}

@media screen and (max-width: 768px) {

  .navbar {
    margin-top: 40px;
  }

  .icon-text {
    margin-top: 20px;
    font-size: 50px;
  }

  .weather-icon {
    margin-top: 30px;
  }

  .website-title {
    font-size: 200%;
  }

}

@media screen and (max-width: 168px) {
  .website-title {
    font-size: 100%;
  }

  .weather-icon {
    width: 20px;
  }
}
body {/*background-image: url(https://drive.google.com/file/d/1Ov0bwwcqWe4I5VRh7SYQz7OI7j-fb3AW/view?usp=drive_link.jpeg);*/
  background-color: #cccccc;
}


